{% extends 'base.twig' %}



{% block content %}
<!--App/Presentation/home.twig-->
    <h1>Welkom bij Pizzeria Di Mari!</h1>
    <p>Bekijk ons heerlijke aanbod aan pizza's.</p>
    <div class="home-container">
     <!-- Lijst van pizza's -->
     <article class="pizza-lijst">
        <h2>Onze Pizza's</h2>
        <ul>
            {% for pizza in pizzas %}
                <li>
                    <h3>{{ pizza.naam }}</h3>
                    <p class="prijs">€{{ pizza.prijs }}</p>
                </li>
            {% endfor %}
        </ul>
        <a href="index.php?action=pizzas">Bekijk Alle Pizza's</a>
    


    <!-- Promotie van de week -->
    <section class="promotie">
        <h2>Promotie van de week</h2>
        <img src="./images/promotie1x1.jpg" alt="Promotie van de week" class="promotie-foto">
        <p>Geniet deze week van onze speciale aanbieding: <strong>2 pizza's voor de prijs van 1!</strong></p>
    </section>
</article>
</div>
   
    {% endblock %}