
{% extends 'base.twig' %}

{% block content %}
<!--App/Presentation/overOns.twig-->
<h1>Over Ons</h1>
<section class="over-ons" action="over-ons">
    <div class="over-ons-inhoud">
        <img src= "./images/overOns.jpg" alt="Over Ons" class="over-ons-foto">
        <div class="over-ons-tekst">
            <p>
                Bij Pizzeria Di Mari draait alles om smaak, kwaliteit en gezelligheid. Al sinds 1990 serveren wij de
                lekkerste pizza's, gemaakt met verse ingrediënten en veel liefde. Onze pizzabakkers zijn echte
                kunstenaars, en dat proef je!
            </p>
            <p>
                Onze missie is simpel: iedereen laten genieten van heerlijke pizza's in een gezellige sfeer. 
                
            </p>
            <p>Bestel <a href="index.php?action=pizzas">online</a> om thuis van te genieten of kom langs en ervaar het zelf!</p>
           

        </div>
    </div>
</section>
{% endblock %}